{% extends 'dashboard/base.html' %} 
{% load static %} 
{% block home %}

<section class="container text-center">
  <h3>Welcome to Home page</h3>
  <hr> <br>
  <div class="row">
    <div class="col-md-3">
      <a href="{% url 'notes' %}">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/note.jpg' %}" alt="Notes image">
          <div class="card-body">
            <h3 class="card-title ">
              Notes
            </h3>
            Create your Notes.
          </div>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="#">
        <div class="card">
          <img class="card-img-top" src="{% static 'images/homework.jpeg' %}" alt="Notes image">
          <div class="card-body">
            <h3 class="card-title ">
              Homework
            </h3>
             Do your homework
          </div>
        </div>
      </a>
    </div>
</section>
{% endblock home %}