{% extends 'dashboard/base.html' %} 
{% load static %}
{% block content %}

<div class="container">
    <h2>Notes created By {{user.username}} </h2>
    <br><br>
    <div class="row">
       {% for note in note %}
         <a href="{% url 'note_detail' note.id %}">
            <div class="col-md-3">
           
                <div class="card">
                    <div class="card-header">{{note.title}}</div>
                    <div class="card-body">{{note.description|slice:"0:100"}}</div>
                    <div class="btn-group open">
                        <a class="btn btn-primary" href="#"></i> Options</a>
                        <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="{% url 'update_note' note.id %}">&nbsp;&nbsp;Edit</a></li>
                          <li><a href="{% url 'delete_note' note.id %}">&nbsp;&nbsp;Delete</a></li>
                         </ul>
                      
                      </div>
                      <br>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
        


{% endblock content %}